<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="sidebar">
    <h2>💻 AssetTrack</h2>

    <a href="/">Dashboard</a>
    <a href="/assets">Assets</a>
    <a href="/employees">Employees</a>
    <a href="/assignments">Assignments</a>
    <a href="/logout">Logout</a>
</div>

<div class="main">

    <h1>Employee Management</h1>

    <div class="form-box">

        <h3>Add Employee</h3>

        <form action="/saveEmployee" method="post">

            <input type="text"
                   name="employeeCode"
                   placeholder="Employee Code"
                   required>

            <input type="text"
                   name="employeeName"
                   placeholder="Employee Name"
                   required>

            <input type="text"
                   name="department"
                   placeholder="Department"
                   required>

            <input type="email"
                   name="email"
                   placeholder="Email"
                   required>

            <button type="submit">
                Save Employee
            </button>

        </form>

    </div>

    <div class="form-box">

        <h2>Employee List</h2>

        <table>

            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Name</th>
                <th>Department</th>
                <th>Email</th>
                <th>Action</th>
            </tr>

            <tr th:each="employee : ${employees}">

                <td th:text="${employee.id}"></td>

                <td th:text="${employee.employeeCode}"></td>

                <td th:text="${employee.employeeName}"></td>

                <td th:text="${employee.department}"></td>

                <td th:text="${employee.email}"></td>

                <td>
                    <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">
                        Delete
                    </a>
                </td>

            </tr>

        </table>

    </div>

</div>

</body>
</html>